* {
	margin:0;
	padding:0;
}

body{
	background:#e6e6e6;	text-align:center;

}
div h1{
}

header, .main, footer{
	background:#fff;
	width:880px;
	margin:20px auto;
}

header nav{
	background:528FD5;
	overflow:hidden;
}

header nav ul{
	list-style:none;
}
header nav ul li{
	float:left;
}

header nav ul li a{
	padding:10px 20px;
	display:block;
	color:black;
	text-decoration:none;
	border:solid;

}

header nav ul li a:hover {
	background:#75ACEC;
}

.main .article {
	width:68.5%;
	margin-right:1.5%;
	float:left;
	background:#fff;
	}


aside{
	background:#ffff;
	width:250px;
	margin:20px auto;
	padding:20px;
	box-sizing:border-box;
}

footer{
	background:#000;
	color:#ffff;
	clear:both;
	padding:10px 0px;
	text-align:center;

}